body{
  background-color: #fde9ff; //pink
}


h1{
  color:#16594a; //darkgreen
  font-family:'montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

h2{
  color:#bf4f51; //red
  font-family:'montserrat', sans-serif;
  font-weight:bold;
  text-align:center;
}

h3{
  color:#ffffff; //white
  font-family:'montserrat', sans-serif;
  font-weight:bold;
  text-align: center;
}
h5{
  color:black;
  font-family:'lato', sans-serif;
  text-align:center;
}

p{
  color: black;
  font-family:'Lato', sans-serif;
  text-align:center;
}

/*NAV*/

.navbar-toggler{
  margin-right:1rem;

}

.fa-brands, .fa-solid {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}


.bg-image{
  background-image:url('/images/paws.png');
  background-size:cover;
}

.beau-image{
  max-height: 100%;
}

.justify{
  text-align:justify;
}

.btn-custom{
  background-color:#ff914d; //orange
  font-family:'montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.btn-custom2{
  background-color:#99cccc;
  font-family:'montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.btn-custom2:hover{
  color:black;
}
.btn-custom:hover{
  color:black;
}
.btn{
  color:white;
}

/*NAV*/
#current-page{
  font-weight:bold;
}

/*footer*/
.footer-p{
  color: white;
}


/* animal cards*/
.cstm-height-card .card-img-top {
  height: 100%;
  object-fit: cover;
}

.card{
  background-color:#99cccc;
}
.card-title{
  color:#16594a;
}

.nav-logo{
  display:none;
}
/* MEDIA QUERIES */

/* present logo on devices larger than phone*/
@media only screen and (min-width: 768px) {
  .nav-logo{
    display:inline;
  }

}